extends ../../layout

block title
	title= 'РЕДАКТИРОВАТЬ ПРОЕКТ | ' + project.title.ru.toUpperCase()

block content_style
	link(rel="stylesheet", type="text/css", href="/styles/popclip.css" + version)
	link(rel='stylesheet', type='text/css', href='/styles/edit.css' + version)

block content_scripts
	script(type="text/javascript", src='/scripts/jquery-ui-1.10.4.custom.min.js' + version)
	script(type="text/javascript", src='/scripts/jquery.popline.min.js' + version)
	script(type='text/javascript', src='/scripts/jquery.filedrop.js' + version)
	script(type='text/javascript', src='/scripts/edit.js' + version)

block content_right
	.form_options
		input.form_old(type='checkbox', name='old', value='true')
		|архив
		.separator_title Категория:
		select.form_category(name='category')
			option(value='') нет
			option(value='altai') Алтайский край
			option(value='belg') Белгородская область

block content
	.edit_project_block
		input#image_main_fallback(type='file')
		input#images_second_fallback(type='file')
		a.back_link(href='/auth/projects') < Назад
		.title РЕДАКТИРОВАТЬ ПРОЕКТ
		.form_image_main(style='background-image:url(' + project.images.main + ')')
			.form_desc_title Главная
		.form_title(contenteditable=true)= project.title.ru
		.form_description(contenteditable=true)= project.description.ru
		.form_images_second
			.form_desc_title Изображения
			each image, index in project.images.second
				.image_second_preview(style='background-image:url(' + images.second[index] + ')')
					.image_second_description(contenteditable=true)= image.description
		.form_images_maps
			.form_desc_title Чертежи
			each image, index in project.images.maps
				.image_maps_preview(style='background-image:url(' + images.maps[index] + ')')
					.image_maps_description(contenteditable=true)= image.description
		.submit Добавить