extends ../layout

block title
	title= 'ПРОЕКТЫ | ' + project.title.ru.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/project.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/jquery-mapnavigate.js' + version)
	script(type='text/javascript', src='/scripts/project.js' + version)

block content_sub

block content
	.project_image_main
		img.project_image_main_inner(src=project.images.main)
	.project_content_block
		h1.project_title= project.title.ru
		.project_category= project.subs_category
		.project_description_block
			.project_description= project.description.ru
			.project_columns_block колонки
		.project_block_title Изображения
		.project_images_second_block
			.images_second_column
				.image_second 1
			.images_second_column
				.image_second 2
			.images_second_column
				.image_second 3
		.project_block_title Карты
		.project_images_maps_block
			.images_maps_column
				.image_maps 1
			.images_maps_column
				.image_maps 2
			.images_maps_column
				.image_maps 3
			.images_maps_column
				.image_maps 4
			.images_maps_column
				.image_maps 5
		.project_block_title Отзывы о проекте
		.project_comments_block comments