extends ../layout

block title
	title= 'ПРОЕКТЫ | ' + project.title.ru.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/project.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/jquery-mapnavigate.js' + version)
	script(type='text/javascript', src='/scripts/project.js' + version)

block content
	- var date = new Date()
	.project_image_main
		img.project_image_main_inner(src=project.images.main)
	.project_content_block
		h1.project_title= project.title.ru
		.project_category= project.subs_category
		.project_description_block
			.project_description!= project.description.ru
			.project_columns_block
				img.project_map(src='/images/design/map.png')
				.project_column.params
					.param_block
						.param_name Площадь застройки:
						.param_value 46ГА
					.param_block
						.param_name Год постройки:
						.param_value 2007
					.param_block
						.param_name Заказчик:
						.param_value МГТС
					.param_block
						.param_name Страна:
						.param_value Россия
					.param_block
						.param_name Конкурс:
						.param_value Супер
				.project_column.authors
					.author_category Архитекторы:
					.author_item Вася Кондрашов
					.author_item Вася Кондрашов
					.author_item Вася Кондрашов
					.author_item Вася Кондрашов
					.author_category Художники:
					.author_item Сережа Безруков
					.author_item Сережа Безруков
					.author_item Сережа Безруков
					.author_item Сережа Безруков
					.author_item Сережа Безруков
		.project_block_title Изображения
		.project_images_second_block
			each column in images_second_columns
				.images_second_column
					each image in column
						.image_second_block
							img.image_second(src=image.path)
							.image_second_description=image.description
		.project_block_title Карты и чертежи
		.project_images_maps_block
			each image in project.images.maps
				.image_maps_block
					.image_maps(style='background-image: url(' + image.path + ')')
					.image_maps_description=image.description
		.project_block_title Отзывы о проекте
		.project_comments_block
			.comment_item_block
				.comment_body RocksDB – постоянное хранилище «ключ-значение» для быстрых накопителей. Основное ее предназначение — хранение данных на flash дисках.
				.comment_author Вася Петров
			.comment_item_block
				.comment_body RocksDB – постоянное хранилище «ключ-значение» для быстрых накопителей. Основное ее предназначение — хранение данных на flash дисках.
				.comment_author Вася Петров
			.comment_item_block
				.comment_body RocksDB – постоянное хранилище «ключ-значение» для быстрых накопителей. Основное ее предназначение — хранение данных на flash дисках.
				.comment_author Вася Петров

		.project_footer_block= 'Кузьмин как наваждение ' + date.getFullYear()